@use "theme";

body {
  background-color: var(--bg-color);
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-size: 1.2em;
}

.blog {
  max-width: 1100px;
  margin: 0 auto;
  background-color: lightgreen;
}

.content {
  background-color: var(--content-bg-color);
  padding: 0.5em;
}

pre {
  padding: 8px 15px;
  overflow-x: auto;
  font-size: 0.9rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

strong {
  overflow-wrap: break-word;
}
