@use "theme";

body {
  background-color: var(--bg-color);
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--text-color);
  font-size: 1.2em;
}

.blog {
  max-width: 1100px;
  margin: 0 auto;
  // background-color: lightgreen;
  margin-top: 1.5rem;
}

.content {
  // background-color: var(--content-bg-color);
  padding: 1em;
  margin-left: 2em;
}

h1 {
  margin: 0;
  font-size: 1.7em;
}

pre {
  padding: 8px 15px;
  overflow-x: auto;
  font-size: 0.9rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

strong {
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  body {
    font-size: 1.1em;
  }
  .content {
    // background-color: var(--content-bg-color);
    padding: 1em;
    margin-top: 0.5rem;
    margin-left: 0em; // Add margin to create space from the sidebar
  }
}
