@use "theme";

.sidebar {
  // background-color: var(--sidebar-bg-color);
  padding: 1em;
  text-align: right;
}

.navbar {
  display: none; // Hide navbar by default
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent);
  padding: 0.5em;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-toggle {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.theme-toggle {
  padding: 0;
  margin-top: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 30px;
    height: 30px;
    color: red;
    color: var(--icon-color);
  }
}

.title-logo {
  background-color: var(--accent);
  font-size: 1.7em;
  color: var(--bg-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.5em;
  // padding-right: 0.3em;
  border-radius: 0.5rem;
  display: block;
}

@media (max-width: 768px) {
  .navbar {
    display: flex; // Show navbar on small screens
  }

  .sidebar {
    display: none; // Hide sidebar by default on small screens
    text-align: left;
  }

  .sidebar ul {
    list-style: none;
    padding: 0; /* Optional: to remove any default padding */
    margin: 0; /* Optional: to remove any default margin */
  }

  .sidebar.show {
    display: block; // Show sidebar when toggle is active
    background-color: var(--accent);
  }

  .sidebar .title-logo {
    display: none; // Hide logo in sidebar on small screens
  }
  .title-logo {
    margin-top: 0rem;
  }
}

@media (min-width: 768px) {
  .navbar {
    display: none; // Hide navbar on larger screens
  }

  .sidebar .title-logo {
    display: block; // Show logo in sidebar on larger screens
  }
}
