.sidebar {
  background-color: lightpink;
  padding: 0.5em; // Add padding to the sidebar to ensure inner elements are properly aligned
}

.navbar {
  display: none; // Hide navbar by default
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 0.5em;
}

.navbar-toggle {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
}

.title-logo {
  background-color: yellow;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  margin: 0; // Remove any default margins that might affect alignment
  padding: 1em 0; // Add padding for proper alignment and spacing
  display: block; // Ensure it behaves like a block-level element
}

@media (max-width: 768px) {
  .navbar {
    display: flex; // Show navbar on small screens
  }
  .sidebar {
    display: none; // Hide sidebar by default on small screens
  }
  .sidebar.show {
    display: block; // Show sidebar when toggle is active
    background-color: yellow;
  }
  .sidebar .title-logo {
    display: none; // Hide logo in sidebar on small screens
  }
}

@media (min-width: 768px) {
  .navbar {
    display: none; // Hide navbar on larger screens
  }
  .sidebar .title-logo {
    display: block; // Show logo in sidebar on larger screens
  }
}
