table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  color: var(--text-color);
  border-spacing: 0;
  font-size: 1em;
  border-radius: 0.1em;
  overflow: hidden;
}

table > th,
table > td {
  padding: 0.5em;
  border-bottom: 1px solid var(--table-border);
}

table th {
  background-color: var(--table-header-bg);
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: var(--table-row-bg);
}

table tr:hover {
  background-color: var(--table-hover-bg);
}
