:root {
  --bg-color: #fff;
  --text-color: #121212;
  // --link-color: #0000ff;
  --sidebar-bg-color: lightpink;
  --content-bg-color: lightblue;
  --accent: #0065d9;
  --icon-color: #121212;

  --table-header-bg: #e5e5e5;
  --table-row-bg: #f9f9f9;
  --table-hover-bg: #f1f1f1;
  --table-border: #ddd;

  --permalink: #adadad;

  --blockquote-border: #adadad;
  --blockquote-text: #444;

  --link-visited: #7c00c8;

  --callout-info: #00b8d4;
  --callout-info-bg: #e5f8fb;
  --callout-warning: #ff9100;
  --callout-warning-bg: #fff4e5;
  --callout-tip: #00bfa5;
  --callout-tip-bg: #e5f8f6;
  --callout-danger: #ff1744;
  --callout-danger-bg: #ffe7ec;

  --expand: #121212;

  --inline-code-fg: #0065d9;
  --inline-code-bg: #eee;

  --codeblock-lineno: #aaa;
  --codeblock-lineno-highlight: #fff;

  --post-date: #555;

  --back-to-top-bg: #ddd;
  --back-to-top-fg: #222;

  --img-caption: #222;

  --title-dots: #ffff00;
  --title-background: #0065d9;
  --date-background: #444655;

  --h1-fg: #dc0012;
  --h2-fg: #ed9200;
  --h3-fg: #783d00;
  --h4-fg: #62b800;
  --h5-fg: #0083d4;
  --h6-fg: #5000d0;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff;
  // --link-color: #00ff00;
  --sidebar-bg-color: darkslategray;
  --content-bg-color: darkcyan;
  --accent: #00ff00;
  --icon-color: #fff;

  --table-header-bg: #333;
  --table-row-bg: #191919;
  --table-hover-bg: #222;
  --table-border: #444;

  --permalink: #59595b;

  --blockquote-border: #59595b;
  --blockquote-text: #999;

  --link-visited: #c263ff;

  --callout-info: #00b8d4;
  --callout-info-bg: #00363e;
  --callout-warning: #ff9100;
  --callout-warning-bg: #432600;
  --callout-tip: #00bfa5;
  --callout-tip-bg: #00332c;
  --callout-danger: #ff1744;
  --callout-danger-bg: #540615;

  --expand: #999;

  --inline-code-fg: #00ff00;
  --inline-code-bg: #222;

  --codeblock-lineno: #aaa;
  --codeblock-lineno-highlight: #fff;

  --post-date: #999;

  --back-to-top-bg: #333;
  --back-to-top-fg: #aaa;

  --img-caption: #888;

  --title-dots: #0026ff;
  --title-background: #00ff00;
  --date-background: #a0a0a0;

  --h1-fg: #ff3142;
  --h2-fg: #ffba4a;
  --h3-fg: #f7f763;
  --h4-fg: #98db4d;
  --h5-fg: #83c8f2;
  --h6-fg: #a56dff;
}
