:root {
  --bg-color: #fff;
  --text-color: #121212;
  --link-color: #0000ff;
  --sidebar-bg-color: lightpink;
  --content-bg-color: lightblue;
  --accent: pink;
  --icon-color-light: #000000;
  --icon-color-dark: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff;
  --link-color: #00ff00;
  --sidebar-bg-color: darkslategray;
  --content-bg-color: darkcyan;
  --accent: #00ff00;
}

[data-theme="light"] .theme-toggle svg {
  color: var(--icon-color-light);
}

[data-theme="dark"] .theme-toggle svg {
  color: var(--icon-color-dark);
}
