:root {
  --bg-color: #fff;
  --text-color: #121212;
  --link-color: #0000ff;
  --sidebar-bg-color: lightpink;
  --content-bg-color: lightblue;
  --accent: pink;
  --icon-color: #121212;

  --table-header-bg: #e5e5e5;
  --table-row-bg: #f9f9f9;
  --table-hover-bg: #f1f1f1;
  --table-border: #ddd;

  --permalink: #adadad;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #fff;
  --link-color: #00ff00;
  --sidebar-bg-color: darkslategray;
  --content-bg-color: darkcyan;
  --accent: #00ff00;
  --icon-color: #fff;
  --table-header-bg: #333;
  --table-row-bg: #111;
  --table-hover-bg: #222;
  --table-border: #444;

  --permalink: #59595b;
}
