<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
    />
    <link rel="stylesheet" href="{{ get_url(path='styles.css') | safe }}" />
    {# Prevents FOUC #}
    <script>
      (function () {
        const currentTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", currentTheme);
      })();
    </script>
  </head>

  <body>
    <div class="navbar">
      <a href="{{ get_url(path='/') | safe }}"
        ><div class="title-logo">Your Logo Here</div></a
      >
      <button id="navbar-toggle" class="navbar-toggle">☰</button>
    </div>
    <div class="pure-g blog">
      <div class="pure-u-1 pure-u-md-1-4">
        <section class="sidebar" id="sidebar">
          <a href="{{ get_url(path='/') | safe }}"
            ><div class="title-logo">Your Logo Here</div></a
          >
          {% include "_sidebar.html" %}
        </section>
      </div>
      <div class="pure-u-1 pure-u-md-3-4">
        <section class="content">{% block content %} {% endblock %}</section>
      </div>
    </div>
    <script src="/js/main.js"></script>
    {# Prevents icon flicker to moon on reload #}
    <script>
      (function () {
        const currentTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", currentTheme);

        const toggleButton = document.getElementById("theme-toggle");
        const moonIcon = toggleButton.getAttribute("data-moon-icon");
        const sunIcon = toggleButton.getAttribute("data-sun-icon");
        toggleButton.innerHTML = currentTheme === "light" ? moonIcon : sunIcon;
      })();
    </script>
  </body>
</html>
