<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css"
    />
    <link rel="stylesheet" href="{{ get_url(path='styles.css') | safe }}" />
    {# Loads light icon, if using favicon.ico no need to include this, zola auto
    detects #}
    <link
      rel="icon"
      id="favicon"
      href="{{ get_url(path='favicon-light.ico') | safe }}"
    />
    {% if config.extra.katex_enable %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+"
      crossorigin="anonymous"
    />

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
      integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg"
      crossorigin="anonymous"
    ></script>

    {% if config.extra.katex_auto_render %}
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
      integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>
    {% endif %} {% endif %} {% if config.extra.enablemermaid %}
    <script type="module">
      import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs";
      mermaid.initialize({ startOnLoad: true });
    </script>
    {% endif %}
    <script src="{{ get_url(path='js/main.js') | safe }}" defer></script>
  </head>

  <body>
    {% include "_navbar.html" %}
    <div class="pure-g blog">
      <div class="pure-u-1 pure-u-md-1-4">
        <section class="sidebar" id="sidebar">
          <a href="{{ get_url(path='/') | safe }}"
            ><div class="title-logo">Your Logo Here</div></a
          >
          {% include "_sidebar.html" %}
        </section>
      </div>
      <div class="pure-u-1 pure-u-md-3-4">
        <section class="content">{% block content %} {% endblock %}</section>
      </div>
    </div>
    {# Prevents FUOC & icon flicker on reload #} {# Inline script is executed
    immediately #}
    <script>
      (function () {
        // Prevent FUOC
        const currentTheme = localStorage.getItem("theme") || "light";
        document.documentElement.setAttribute("data-theme", currentTheme);

        // Prevent theme icon flicker
        const toggleButton = document.getElementById("theme-toggle");
        const moonIcon = toggleButton.getAttribute("data-moon-icon");
        const sunIcon = toggleButton.getAttribute("data-sun-icon");
        toggleButton.innerHTML = currentTheme === "light" ? moonIcon : sunIcon;

        // Prevent favicon flicker
        const favicon = document.getElementById("favicon");
        favicon.href =
          currentTheme === "light"
            ? "{{ get_url(path='favicon-light.ico') | safe }}"
            : "{{ get_url(path='favicon-dark.ico') | safe }}";
      })();
    </script>
  </body>
</html>
