{% extends "_base.html" %}

<!-- this is outside of content block -->
<!-- this sends the title answer to _base.html's title block -->
{% block title %}{{page.title}}{% endblock title %}

<!-- after this, the actual content to be displayed starts -->
{% block content %} {#
<div class="breadcrumbs">
  <a href="{{ config.base_url }}">Home</a>&nbsp;»&nbsp;
  <!-- <a href="{{ get_url(path='@/_index.md') }}">Home</a>&nbsp;»&nbsp; -->
  <a href="{{ page.permalink }}">{{ page.title }}</a>
</div>
#} {#
<h1 class="title"><span class="title-background">{{ page.title }}</span></h1>
#}
<h1 class="title"><span class="title-background">{{ page.title }}</span></h1>

{# if updated date present, then display that. if not, show original date #} {%
if page.updated %}
<p class="post-date">
  Updated: {{ page.updated | date(format="%a %d %B, %Y") }}
</p>
{% else %}
<p class="post-date">{{ page.date | date(format="%a %d %B, %Y") }}</p>
{% endif %} {{ page.content | safe }} {% if page.updated %}
<p class="post-date">
  Originally posted on: {{ page.date | date(format="%a %d %B, %Y") }}
</p>
{% endif %}{% include "_footer.html" %} {% endblock content %}
