{% extends "_base.html" %}

<!-- this is outside of content block -->
<!-- this sends the title answer to _base.html's title block -->
{% block title %}{{page.title}} | {{config.extra.logo}} {% endblock title %}

<!-- after this, the actual content to be displayed starts -->

{% block content %}

<h1 class="title"><span class="title-background">{{ page.title }}</span></h1>

<button id="backToTop" title="Go back to top (or press 'p')">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="backToTop">
    <path
      d="M18.78 15.78a.749.749 0 0 1-1.06 0L12 10.061 6.28 15.78a.749.749 0 1 1-1.06-1.06l6.25-6.25a.749.749 0 0 1 1.06 0l6.25 6.25a.749.749 0 0 1 0 1.06Z"
    ></path>
  </svg>
</button>

{# if updated date present, then display that. if not, show original date #} {%
if page.updated %}
<p class="post-date">
  <span class="date-background"
    >Updated: {{ page.updated | date(format="%a %d %B, %Y") }}</span
  >
</p>
{% else %}
<p class="post-date">
  <span class="date-background"
    >{{ page.date | date(format="%a %d %B, %Y") }}</span
  >
</p>
{% endif %} {{ page.content | safe }} {% if page.updated %}
<p class="post-date">
  Originally posted on: {{ page.date | date(format="%a %d %B, %Y") }}
</p>
{% endif %} {# below are called unicode icons full list available here:
https://symbl.cc/en/unicode-table/#arrows#}<!-- Default text on large screens-->
<div class="next-prev-post next-prev-container default-text">
  {% if page.lower %}
  <a class="previous page-button" href="{{ page.lower.permalink }}"
    >← <strong>{{ page.lower.title }}</strong></a
  >
  {% endif %} {% if page.higher %}
  <a class="next page-button" href="{{ page.higher.permalink }}"
    ><strong>{{ page.higher.title }}</strong> →</a
  >
  {% endif %}
</div>

<!-- Alternative text for small screens -->
<div class="next-prev-post next-prev-container small-screen-text">
  {% if page.lower %}
  <a class="previous page-button" href="{{ page.lower.permalink }}"
    ><strong>← Previous Post</strong></a
  >
  {% endif %} {% if page.higher %}
  <a class="next page-button" href="{{ page.higher.permalink }}"
    ><strong>Next Post →</strong></a
  >
  {% endif %}
</div>

{% include "_footer.html" %} {% endblock content %}
